body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f9f9f9;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

#logo {
  height: 30px;
  margin: 10px;
  width: auto;
}

#search-bar {
  display: flex;
  width: 50%;
}

#search-bar input {
  padding: 1%;
  display: inline;
  width: 80%;
  border: 1px solid rgb(195, 195, 195);
}

#search-bar input::placeholder {
  padding: 10px;
}

#search-bar button {
  padding: none;
  display: inline;
  background: rgb(200, 200, 200);
  border: none;
  outline: none;
}

#search-bar button:active {
  border: none;
  outline: none;
}

#search-bar input:focus {
  border: 1px solid rgb(195, 195, 195);
  outline: 1px solid rgb(195, 195, 195);
}

#search-bar i {
  font-size: 1em;
}

#icons-bar {
  width: 15%;
  display: flex;
}

#icons-bar i {
  margin: 0 10px;
  padding: 10px;
  color: rgb(96, 96, 96);
  font-size: 2em;
}

#profile-img {
  border-radius: 50%;
  margin: 0;
}

#logo-container {
  display: flex;
  align-items: center;
}

#logo-container i {
  margin: 0 10px;
  padding: 10px;
  color: rgb(96, 96, 96);
  font-size: 2em;
}

main{
  /* margin: 0 auto; */
  width: 60%;
  padding: 1.2em;
  display: flex;
  justify-content: space-around;
}

iframe{
  width: 100%;
  height: 400px;
}