body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f9f9f9;
  font-family: Roboto, Arial, sans-serif;
}

header {
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

#logo {
  height: 30px;
  width: auto;
}

#search-bar {
  display: flex;
  width: 40%;
}

#search-bar input {
  padding: 10px;
  display: inline;
  width: 90%;
  border: 1px solid rgb(195, 195, 195);
}

#search-bar input::placeholder {
  padding: 10px;
}

#search-bar button {
  padding: 5px 30px;
  display: inline;
  background: #f8f8f8;
  border: 1px solid rgb(195, 195, 195);
  outline: none;
}

#search-bar button:active {
  border: 1px solid rgb(195, 195, 195);
  outline: none;
}

#search-bar input:focus {
  border: 1px solid rgb(195, 195, 195);
  outline: none;
}

#search-bar i {
  color: rgb(96, 96, 96);
  font-size: 1em;
}

#icons-bar {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#icons-bar i {
  margin: 0 10px;
  padding: 10px;
  color: rgb(96, 96, 96);
  font-size: 1.2em;
}

#profile-img {
  border-radius: 50%;
  margin: 0;
}

#logo-container {
  display: flex;
  align-items: center;
}

#logo-container i {
  margin: 0 10px;
  padding: 10px;
  color: rgb(96, 96, 96);
  font-size: 1em;
}

main {
  margin: 1% auto;
  width: 80%;
  display: flex;
}

#video-container {
  width: 100%;
}

#video-player {
  margin: 10px 0;
}

iframe {
  width: 100%;
  height: 75vh;
}

#video-title {
  font-size: 1.2em;
}

#video-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: -2% 0;
}

.ratings {
  display: flex;
}

.views {
  color: rgb(96, 96, 96);
}

.date {
  color: rgb(96, 96, 96);
  margin-left: 10px;
}

.reactions {
  display: flex;
  align-items: center;
}

.likes {
  border-bottom: 2px solid rgb(96, 96, 96);
}

.likes i {
  margin: 5px 5px;
  padding: 5px 5px;
  color: rgb(96, 96, 96);
}

.reactions .fa-share,
.fa-list-ul,
.fa-bars {
  margin: 0 5px;
  padding: 0 5px;
  color: rgb(96, 96, 96);
}

span {
  margin: 5px;
  font-weight: normal;
  font-family: Roboto, Arial, sans-serif !important;
}

.recommendation {
  width: 40%;
  margin: 10px;
}

.video-description {
  margin-top: 15px;
  padding: 15px 5px;
  border-top: 1px solid rgba(96, 96, 96, 0.39);
  border-bottom: 1px solid rgba(96, 96, 96, 0.39);
}
.channel {
  display: flex;
  justify-content: space-between;
}

#channel-info {
  display: flex;
  align-items: center;
}

.channel-name,
#channel-info div p {
  margin: 0;
  padding: 2px;
}

#channel-info div h3 {
  font-size: 14px;
  font-weight: 500;
}

#channel-info div p {
  font-size: 13px;
  color: rgb(96, 96, 96);
}

#channel-image {
  width: auto;
  height: 55px;
  border: transparent;
  margin: 5px;
  border-radius: 50%;
}

#subscribe {
  width: 120px;
  padding: 10px;
  height: fit-content;
  background-color: #cc0000;
  color: #fff;
  border: none;
  font-size: 14px;
}

#subscribe:focus {
  border: none;
  outline: none;
}

#video-description {
  color: #030303;
  font-size: 14px;
  margin-bottom: 5px;
}

#show-more {
  color: #606060;
  font-size: 13px;
  margin: 0;
}

#show-more:hover {
  cursor: pointer;
}

.recommended-video {
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.rec-video-title {
  padding: 0;
  font-weight: bold;
  margin: 0;
}

#video-image {
  height: 130px;
  width: 200px;
}

.thumbnail {
  width: 150px;
  height: 100px;
}
.info {
  padding: 10px;
}
